@import 'bootstrap/dist/css/bootstrap.min.css';


html {
  overflow-x: hidden;
  width: 100%;
  webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* add background img */
body {
  background-image: url('https://new-bo.platipusgaming.com/sites/default/files/styles/games_bg/public/media/games/bg/2022-10/BG_3200x1800_Jacks%20or%20Better.jpg?itok=AXPQVTBw');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* change text color since background is a poker table */
  color: white;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: white;
}


/* display hand in a 1x5 grid with a slight room between cards */
.hand {
  display: grid;
  grid-template-columns: repeat(5, .5fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.hand img {
  width: 75%;
}

/* at smaller screen sizes display hand differently
  ie: 1x5
      3x1 and 2x1
      2x2 and 1x1
*/

@media screen and (max-width: 768px) {
  .hand {
    grid-template-columns: repeat(5, 1fr);
  }

  .hand img {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .hand {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hand img {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .hand {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .hand img {
    width: 100%;
  }
}





/* when hovering a card highlight the border in red */
.card:hover {
  border: 5px solid red;
  border-radius: 10px;
}

/* card mulligan cards should be slightly transparent */
.card.mulligan {
  opacity: 0.5;
}

#modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

#payoutsModal h1 {
  text-align: center;
}

#payoutsModal table {
  margin: 0 auto;
}

#payoutsModal table td {
  padding: 5px;
  border: 1px solid black;
}

#payoutsModal th {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}

/* This element has an h1 with "Jacks Or Better"
put it center and top with added styling */
#game-title {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#money-title {
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

#bet-title {
  position: absolute;
  left: 0;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

#restarts-title {
  position: absolute;
  left: 0;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/* put payoutsBtn in the top left corner */
.payoutsBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  /* make payoutsBtn smaller so it doesnt overlap */
  .payoutsBtn #payout-btn {
    font-size: .7em;
  }



}

/* put betContainer in the middle of the screen */
.betContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.betContainer Form.Control {
  margin: 10px;
}

.betContainer Button {
  margin: 10px;
}

#play-quit-ctn {
  position: absolute;
  left: 0;
  transform: translate(0, 100%);
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#play-quit-ctn Button {
  width: fit-content;
  /* move container up */
  transform: translate(0, -200%);
}

#play-again-btn {
  margin: 10px;
  grid-row: 1;

}

#quit-btn {
  margin: 10px;
  grid-row: 2;
}

#loser {
  transform: translate(0, -150%);
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* container with the hand of cards and a button below */
.hand-mulligan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* put the hand of cards in the middle of the screen */
.hand-mulligan .hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* put the mulligan button in the middle of the screen */
.hand-mulligan #mulligan-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
}

#payouts-h1 {
  /* center text in the ttable */
  text-align: center;
  color:black;
}

/* .login-register contains two divs
one for login (.login-container) and one for register (.register-container)
put them on top of each other like:
    login
    register

*/

.login-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.login-register .login-container {
  grid-row: 1;
}

.login-register .register-container {
  grid-row: 1;
}

/* put login and register buttons below the form */
.login-register Button {
  margin: 10px;
}

/* format it so it looks like:
    Username [input]
    Password [input]
    Login [button]

*/

.login-register .login-container Form.Control {
  margin: 10px;
}

.login-register .login-container Button {
  margin: 10px;
  /* center button */
  display: block;
  margin-left: auto;
  margin-right: auto

}

/* format it so it looks like:
    Username [input]
    Password [input]
    Register [button]

*/

.login-register .register-container Form.Control {
  margin: 10px;
}

.login-register .register-container Button {
  margin: 10px;
  /* center button */
  display: block;
  margin-left: auto;
  margin-right: auto

}
