/* display hand in a 1x5 grid with a slight room between cards */
.hand {
  display: grid;
  grid-template-columns: repeat(5, .5fr);
  grid-gap: 10px;
}

/* when hovering a card highlight the border in red */
.card:hover {
  border: 5px solid red;
  border-radius: 10px;
}

/* card mulligan cards should be slightly transparent */
.card.mulligan {
  opacity: 0.5;
}

#modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

#payoutsModal h1 {
  text-align: center;
}

#payoutsModal table {
  margin: 0 auto;
}

#payoutsModal table td {
  padding: 5px;
  border: 1px solid black;
}

#payoutsModal th {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}
